<form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-145511 mc4wp-ajax" method="post" data-id="145511" data-name="On Call"><div class="mc4wp-form-fields"><div class="stat-form-inline">

  <div class="stat-form-inline-content">
    <div class="stat-form-full">
      <h2 class="stat-form-inline-header">Sign up for our hospitals newsletter, On Call</h2>
    </div>
      <div class="stat-form-row stat-form-inline-fields">
        <div class="stat-form-col stat-form-col-fill">
          <input type="email" name="EMAIL" placeholder="Enter your email" required="" class="stat-form-dirty">
            <div class="stat-field-error">Please enter a valid email address.</div>
          </div>
        <div class="stat-form-col">
          <input type="submit" value="Sign up">
        </div>
      </div>
  <input type="hidden" name="INTERESTS[52199cfa15]" value="949ff6e71d"><!-- On Call -->
    </div>
  </div>
  <div style="display: none;">
    <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off">
    </div>

    <input type="hidden" name="_mc4wp_timestamp" value="1485599672">
    <input type="hidden" name="_mc4wp_form_id" value="145511">
    <input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1">
    </div>
  <div class="mc4wp-response"></div>

</form>
