// LINKS
a
  color: desaturate($secondary-color, .3)
  text-decoration: none
  border: none
  padding: 0.05em 0.1em
  &:hover
    border-bottom: $size1-2 dashed $secondary-color

// ANNOTATIONS
.strikethru
  text-decoration: line-through

.lit-yellow
  background-color: rgba(#fffc00, 0.4)

.lit-green
  background-color: Rgba(#02b875, 0.5)


// CODE FORMATTING
pre,
code
  font:
    family: $font-stack-monaco
    //size: 15px
    size: 0.9em
  border: $size1 solid $grey-300
  border-radius: $size1
  background-color: $grey-200
  color: $secondary-color

code
  padding: $size1 $size5

pre
  padding: 0.5em 0.75em
  overflow-x: scroll
  > code
    border: 0
    padding-right: 0
    padding-left: 0

// FLUID TYPOGRAPHY
  .fluid-type
    font-size: 0.875rem
    @media screen and (min-width: 20rem)
      .fluid-type
        font-size: calc(0.875rem + 0.5 * ((100vw - 20rem) / 60))
    @media screen and (min-width: 80rem)
      .fluid-type
        font-size: 1.375rem
  .molten-leading
    line-height: 1.2em
    @media screen and (min-width: 20em)
      .molten-leading
        line-height: calc(1.2em + 0.6 * ((100vw - 20em) / 60))
    @media screen and (min-width: 80em)
      .molten-leading
        line-height: 1.8em
