<section id="appHOF" class="wrapper dark">
  <div class="container">
    <header class="section-header">My Workhorses</header>
    <div class="items">

        <a href="https://geo.itunes.apple.com/us/app/workflow-powerful-automation/id915249334?mt=8&uo=4&at=1001ls52&ct=dox">
          <div class="tooltip-item">
            <amp-img src="{{ site.baseurl }}/assets/images/apps/workflow.png" alt="Workflow" height="70" width="70"></amp-img>
          <div class="tooltip"><p>Workflow <span class="app-category">Productivity</span></div>
          </div></a>

          <a href="https://geo.itunes.apple.com/us/app/1writer-note-taking-writing/id680469088?mt=8&uo=4&at=1001ls52&ct=dox">
            <div class="tooltip-item">
              <amp-img src="{{ site.baseurl }}/assets/images/apps/1writer.png" alt="1Writer" height="70" width="70"></amp-img>
            <div class="tooltip"><p>1 Writer <span class="app-category">Writing</span></div>
            </div></a>

          <a href="https://geo.itunes.apple.com/us/app/drafts-quickly-capture-notes/id905337691?mt=8&uo=4&at=1001ls52&ct=dox">
            <div class="tooltip-item">
              <amp-img src="{{ site.baseurl }}/assets/images/apps/drafts.jpg" alt="Drafts" height="70" width="70"></amp-img>
            <div class="tooltip"><p>Drafts <span class="app-category">Note-taking</span></div>
            </div></a>

          <a href="https://geo.itunes.apple.com/us/app/overcast-podcast-player/id888422857?mt=8&uo=4&at=1001ls52&ct=dox">
            <div class="tooltip-item">
              <amp-img src="{{ site.baseurl }}/assets/images/apps/overcast.jpg" alt="Overcast" height="70" width="70"></amp-img>
            <div class="tooltip"><p>Overcast <span class="app-category">Podcast</span></div>
            </div></a>

          <a href="https://geo.itunes.apple.com/us/app/jelly-search-engine-for-busy/id685652528?mt=8&uo=4&at=1001ls52&ct=dox">
            <div class="tooltip-item">
              <amp-img src="{{ site.baseurl }}/assets/images/apps/jelly.jpg" alt="Jelly" height="70" width="70"></amp-img>
            <div class="tooltip"><p>Jelly <span class="app-category">Search 2.0</span></div>
            </div></a>

          <a href="https://itunes.apple.com/us/app/highly-highlight-to-share./id965075733?mt=8#">
            <div class="tooltip-item">
              <amp-img src="{{ site.baseurl }}/assets/images/apps/highly.svg" alt="Highly" height="70" width="70"></amp-img>
            <div class="tooltip"><p>Highly <span class="app-category">Utility: Browser highlighter</span></div>
            </div></a>
          <a href="https://itunes.apple.com/us/app/liquidtext-pdf-document-reader/id922765270?mt=8#">
            <div class="tooltip-item">
              <amp-img src="{{ site.baseurl }}/assets/images/apps/liquid-text.png" alt="Liquid Text" height="70" width="70"></amp-img>
            <div class="tooltip"><p>Liquid Text <span class="app-category">PDF Annotation</span></div>
            </div></a>
    </div>
  </div>
  </section>
