<section id="blog-loop" class="cf frame wrapper">
  <main class="container">
    <header class="section-header">Thoughts</header>
    <div class="items">
      {% for post in paginator.posts %}

      <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <header class="post-header">
            <h2 class="post-title" itemprop="name"><a href="{{ site.baseurl }}{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
            <div class="post-meta">
              <amp-img src="{{ site.baseurl }}/assets/images/icons/cal-date.svg" alt="date" height="9" width="9"></amp-img>
              <time class="date" datetime="{{ post.date | %x %X }}">{{ post.date | date: "%-d %b" }}</time>
              <span class="read-time">{% assign words = content | number_of_words %}
                {% if words < 360 %} 1 min
                {% else %}{{ words | divided_by: 180 }} mins
                {% endif %} read
                </span>
              {% if post.category %}
                <span class="category">{{ post.category }}</span>
                {% endif %}
              </div>
            </header>

        <main class="post-excerpt" itemprop="description">
          <p>{{ post.excerpt | strip_html | truncatewords: 75 }}</p>
          <a class="link" href="{{ site.baseurl }}{{ post.url }}" itemprop="url">Read More</a>
          </main>
        </article>

      {% endfor %}
    </div>
  </main>
</section>
