<ul class="accordion-tabs-minimal">
  <li class="tab-header-and-content">
    <a href="#blog-loop" class="tab-link is-active">Thoughts</a>
    <div class="tab-content">{% include blog-loop.html %}</div>
  </li>
  <li class="tab-header-and-content">
    <a href="#graphics-loop" class="tab-link">Graphics</a>
    <div class="tab-content">{% include graphics-loop.html %}</div>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Third</a>
    <div class="tab-content">
      <p>Donec mattis mauris gravida metus laoreet non rutrum sem viverra. Aenean nibh libero, viverra vel vestibulum in, porttitor ut sapien. Phasellus tempor lorem id justo ornare tincidunt. Nulla faucibus, purus eu placerat fermentum, velit mi iaculis nunc, bibendum tincidunt ipsum justo eu mauris. Nulla facilisi. Vestibulum vel lectus ac purus tempus suscipit nec sit amet eros. Nullam fringilla, enim eu lobortis dapibus, quam magna tincidunt nibh, sit amet imperdiet dolor justo congue turpis.</p>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Last Item</a>
    <div class="tab-content">
      <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus dui urna.</p>
    </div>
  </li>
</ul>

<script async src="/assets/js/tabs-minimal.js">
