<section id="newsletter" class="wrapper">
  <div class="container">
    <!--<header class="section-header">eRx</header>
      <h3>Get <amp-img src="{{ site.baseurl }}/assets/images/dox-vector-dark.svg" alt="Dox" height="48" width="48"></amp-img> <span>ePrescribed</span> to your Inbox!</h3>
      <div class="form input">name</div>
      <div class="form input">email</div>-->
      <h3 class="section-teaser">In a hurry?</h3>
      <p>Skim through news updates, journal pubs &amp; interesting commentary</p>
      <div class="form submit"><a href="http://nuzzel.com/jake_mcclure" class="button a">subscribe</a></div>
    </div>
  </section>
