<div id="ad-wrapper" class="wrapper">
  <amp-iframe
    class="container page-bottom"
    width="320"
    height="50"
    layout="responsive"
    sandbox="allow-scripts allow-same-origin allow-popups"
    allowfullscreen
    frameborder="0"
    src="https://rcm-na.amazon-adsystem.com/e/cm?o=1&p=288&l=ur1&category=gift_certificates&banner=1ZMTYQQCPDNJYWMYWR82&f=ifr&linkID=afb1e586e09e1c3a74c2c60dcdaa4097&t=mcclure-20&tracking_id=mcclure-20">
    <amp-img class="ad placeholder"
      layout="fill"
      src="https://images-na.ssl-images-amazon.com/images/G/01/gift-certificates/consumer/2014/associates/generic/gc_gen_mobile-320x50.png"
      placeholder>
      </amp-img>
    </amp-iframe>
  </div>
